<a href="https://colab.research.google.com/github/victoruwazurike1/hamoye_graded_quiz/blob/main/HamoyeQuiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
import math

In [49]:
df = pd.read_csv('energydata_complete.csv')

In [ ]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
column_names = {'date':'date_time', 'Appliances':'energy_consumption_appliances(Wh)', 'lights':'energy_consumption_light(Wh)',
                'T1':'kitchen_temp(C)', 'RH_1':'kitchen_humidiity(%)', 'T2':'living_room_temp(C)',
                'RH_2':'living_room_humidity(%)', 'T3':'laundry_room_temp(C)', 
                'RH_3':'laundry_room_humidity(%)', 'T4':'office_room_temp(C)', 'RH_4':'office_room_humidity(%)',
                'T5':'bathroom_temp(C)', 'RH_5':'bathroom_humidity(%)', 'T6':'outside_temp_north(C)',
                'RH_6':'outside_humidity_north(%)', 'T7':'ironing_room_temp(C)', 'RH_7':'ironing_room_humidity(%)',
                'T8':'teen_room_temp(C)', 'RH_8':'teen_room_humidity(%)', 'T9':'parent_room_temp(C)', 
                'RH_9':'parent_room_humidity(%)', 'T_out':'temp_out_chievres(C)', 'Press_mm_hg':'pressure_chievres(mmHg)',
                'RH_out':'humidity_out_chievres(%)', 'Windspeed':'windspeed_chievres(m/s)',
                'Visibility':'visibility_chievres(km)', 'Tdewpoint':'tdewpoint_chievres', 'rv1':'random_variable_1',
                'rv2':'random_variable_2'}

In [50]:
df = df.rename(columns =  column_names)

In [ ]:
df.head()

             date_time  ...  random_variable_2
0  2016-01-11 17:00:00  ...          13.275433
1  2016-01-11 17:10:00  ...          18.606195
2  2016-01-11 17:20:00  ...          28.642668
3  2016-01-11 17:30:00  ...          45.410389
4  2016-01-11 17:40:00  ...          10.084097

[5 rows x 29 columns]

In [20]:
X = df[['living_room_temp(C)']]
y = df[['outside_temp_north(C)']]

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1 )

In [24]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x_train, y_train)
predicted_values = lm.predict(x_test)

In [26]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, predicted_values)
round(r2, 2)

0.65

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [51]:
df = df.drop('date_time', axis=1)
df = df.drop('energy_consumption_light(Wh)', axis =1)
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
features_df = normalized_df.drop(columns = ['energy_consumption_appliances(Wh)'])
target = normalized_df['energy_consumption_appliances(Wh)']

In [52]:
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size = 0.3, random_state = 42 )

In [53]:
linear_m = LinearRegression()
linear_m.fit(x_train, y_train)
predictions = linear_m.predict(x_test)

In [54]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predictions)
print(mae)
round(mae, 2)

0.05013362397742959

0.05

In [61]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, predictions)
round(mse, 2)

0.01

In [62]:
rmse = math.sqrt(mse)
round(rmse, 3)

0.088

In [63]:
from sklearn.metrics import r2_score
r2_ = r2_score(y_test, predictions)
round(r2, 2)

0.65

In [64]:
#this function returns the weight of every feature
def get_weights(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights = pd.DataFrame(weights).reset_index()
  weights.columns = ['Features', col_name]
  weights[col_name].round(3)
  return weights

In [69]:
linear_m.coef_

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [71]:
print(linear_m.coef_.min())
print(linear_m.coef_.max())

-0.45669794833849897
0.5535465998386385

In [72]:
get_weights(linear_m, x_train, 'Weights')

                     Features   Weights
0     living_room_humidity(%) -0.456698
1        temp_out_chievres(C) -0.321860
2         living_room_temp(C) -0.236178
3         parent_room_temp(C) -0.189941
4       teen_room_humidity(%) -0.157595
5    humidity_out_chievres(%) -0.077671
6    ironing_room_humidity(%) -0.044614
7     parent_room_humidity(%) -0.039800
8            bathroom_temp(C) -0.015657
9             kitchen_temp(C) -0.003281
10          random_variable_1  0.000770
11          random_variable_2  0.000770
12    pressure_chievres(mmHg)  0.006839
13       ironing_room_temp(C)  0.010319
14    visibility_chievres(km)  0.012307
15       bathroom_humidity(%)  0.016006
16    office_room_humidity(%)  0.026386
17        office_room_temp(C)  0.028981
18    windspeed_chievres(m/s)  0.029183
19  outside_humidity_north(%)  0.038049
20   laundry_room_humidity(%)  0.096048
21          teen_room_temp(C)  0.101995
22         tdewpoint_chievres  0.117758
23      outside_temp_north(C)  0.236425
24       laundry_room_temp(C)  0.290627
25       kitchen_humidiity(%)  0.553547

In [73]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)
pred_values = ridge_reg.predict(x_test)

In [75]:
mse = mean_squared_error(y_test, pred_values)
rmse = math.sqrt(mse)
round(rmse, 3)

0.088

In [80]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)
preds = lasso_reg.predict(x_test)

In [81]:
lasso_reg.coef_

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

In [82]:
mse = mean_squared_error(y_test, preds)
rmse = math.sqrt(mse)
round(rmse, 3)

0.094